<h1>Lista de Suportes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Suporte</th>
    </tr>
  </thead>

  <tbody>
    <% @suportes.each do |suporte| %>
      <tr>
        <td><%= suporte.nome %></td>
        <td><%= link_to 'Mostrar', suporte_path(suporte) %></td>
        <td><%= link_to 'Editar', edit_suporte_path(suporte) %></td>
        <td><%= link_to 'Excluir', suporte_path(suporte), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar suporte', new_suporte_path %>
