<h1>Lista de Catálogos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Suporte</th>
      <th>Localização</th>
      <th>Nome da Aquisição</th>
      <th>Data de Aquisição</th>
      <th>Fabricante</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogos.each do |catalogo| %>
      <tr>
        <td><%= catalogo.id %></td>
        <td><%= Suporte.find(catalogo.suporte_id).nome %></td>
        <td><%= catalogo.localizacao %></td>
        <td><%= catalogo.tipo_aquisicao %></td>
        <td><%= catalogo.data_aquisicao %></td>
        <td><%= Fabricante.find(catalogo.fabricante_id).nome %></td>
        <td><%= link_to 'Mostrar', catalogo_path(catalogo) %></td>
        <td><%= link_to 'Editar', edit_catalogo_path(catalogo) %></td>
        <td><%= link_to 'Excluir', catalogo_path(catalogo), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar catálogo', new_catalogo_path %>
