<h1>Catálogo</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">

	<p>
	  <strong>Suporte:</strong>
	  <%= @catalogo.suporte.nome %>
	</p>
	<p>
	  <strong>Localização:</strong>
	  <%= @catalogo.localizacao %>
	</p>
	<p>
	  <strong>Tipo de Aquisição:</strong>
	  <%= @catalogo.tipo_aquisicao %>
	</p>
	<p>
	  <strong>Data da Aquisição:</strong>
	  <%= @catalogo.data_aquisicao %>
	</p>
	<p>
	  <strong>Fornecedor da Aquisição:</strong>
	  <%= @catalogo.fornecedor_aquisicao %>
	</p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Especificações Técnicas</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Tamanho:</strong>
	  <%= Tamanho.find(@catalogo.tamanho_id).nome %>
	</p>
	<p>
	  <strong>Tipos de Materiais:</strong>
	  <% @catalogo.tipo_materials.each do |i| %>
	  <%= i.nome %>
	  <% end %>
	</p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Informações Adicionais</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Fabricante:</strong>
	  <%= @catalogo.fabricante.nome %><br \>
	  <strong>Cidade:</strong>
	  <%= @catalogo.fabricante.cidade %><br \>
	  <strong>Estado:</strong>
	  <%= @catalogo.fabricante.estado %><br \>
	  <strong>País:</strong>
	  <%= @catalogo.fabricante.pais %><br \>
	  <strong>Endereço:</strong>
	  <%= @catalogo.fabricante.endereco %><br \>
	  <strong>Site:</strong>
	  <%= @catalogo.fabricante.site %><br \>
	  <strong>E-mail:</strong>
	  <%= @catalogo.fabricante.email %><br \>
	</p>
	<p>
	  <strong>Coleção:</strong>
	  <%= @catalogo.colecao.nome %>
	</p>
	<p>
	  <strong>Ano da Coleção:</strong>
	  <%= @catalogo.ano_colecao %>
	</p>
	<p>
	  <strong>Especificações:</strong>
	  <%= @catalogo.especificacoes %>
	</p>
	<p>
	  <strong>Faixa Etária:</strong>
	  <%= @catalogo.faixa_etaria.nome %><br \>
	</p>
	<p>
	  <strong>Peça Vestuário:</strong>
	  <%= @catalogo.peca_vestuario %>
	</p>
  </div>
</div>

<%= link_to 'Editar', edit_catalogo_path(@catalogo) %> |
<%= link_to 'Voltar', catalogos_path %>
