<p id="notice"><%= notice %></p>

<p>
  <strong>Suporte:</strong>
  <%= Suporte.find(@catalogo.suporte_id).nome %>
</p>
<p>
  <strong>Localização:</strong>
  <%= @catalogo.localizacao %>
</p>
<p>
  <strong>Nome Arquisição:</strong>
  <%= @catalogo.nome_aquisicao %>
</p>
<p>
  <strong>Data Aquisição:</strong>
  <%= @catalogo.data_aquisicao %>
</p>
<p>
  <strong>Tamanho (cm):</strong>
  <%= @catalogo.tamanho_catalogo %>
</p>
<p>
  <strong>Matérias Primas:</strong>
  <% @catalogo.materia_primas.each do |i| %>
  <%= i.nome %>
  <% end %>
</p>
<p>
  <strong>Ligamentos:</strong>
  <% @catalogo.ligamentos.each do |i| %>
  <%= i.tipo %>
  <% end %>
</p>
<p>
  <strong>Tipos de Materiais:</strong>
  <% @catalogo.tipo_materials.each do |i| %>
  <%= i.nome %>
  <% end %>
</p>
<p>
  <strong>Fabricante:</strong>
  <%= Fabricante.find(@catalogo.fabricante_id).nome %>
</p>
<p>
  <strong>Coleção:</strong>
  <%= Colecao.find(@catalogo.colecao_id).nome %>
</p>
<p>
  <strong>Especificações:</strong>
  <%= @catalogo.especificacoes %>
</p>
<p>
  <strong>Padronagem Design:</strong>
  <% @catalogo.padronagem_designs.each do |i| %>
  <%= i.tipo %>
  <% end %>
</p>

<%= link_to 'Editar', edit_catalogo_path(@catalogo) %> |
<%= link_to 'Voltar', catalogos_path %>
