<%= form_for(@bandeira, :url => { :controller => "bandeiras"}) do |f| %>
  <% if @bandeira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bandeira.errors.count, "error") %> prohibited this bandeira from being saved:</h2>

      <ul>
      <% @bandeira.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <input type="hidden" id="id" name="id" value="<%= @bandeira.try(:id) %>" />

<div style="width:50%">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	  <div class="form-group">
	    <%= f.label :tipo_de_bandeira_id %>
	    <%= f.select :tipo_bandeira_id, Bandeira.all.map{|c| [c.tipo, c.id]}, {}, {:class=>"form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.label :localização %> *
	    <%= f.text_field :localizacao, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :tipo_de_aquisição %>
	    <%= f.text_field :tipo_aquisicao, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :data %>
	    <%= f.date_field :data_aquisicao, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :fornecedor %>
	    <%= f.text_field :fornecedor_aquisicao, :class=>"form-control input-sm" %>
	  </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Especificações Técnicas</h3>
  </div>
  <div class="panel-body">

	  <div class="form-group">
	    <%= f.label :matérias_primas %>
	    <%= f.select :materia_prima_ids, MateriaPrima.all.collect {|x| [x.nome, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :ligamentos %>
	    <%= f.select :ligamento_ids, Ligamento.all.collect {|x| [x.tipo, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :gramatura %> <strong>(p/m²)</strong>
	    <%= f.text_field :gramatura, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :número_de_trama %>
	    <%= f.text_field :numero_trama, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :número_de_urdume %>
	    <%= f.text_field :numero_urdume, :class=>"form-control input-sm" %>
	  </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Informações Adicionais</h3>
  </div>
  <div class="panel-body">

	  <div class="form-group">
	    <%= f.label :fio_título %>
	    <%= f.select :fio_titulo_ids, FioTitulo.all.collect {|x| [x.tipo, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div> 
	  <div class="form-group">
	    <%= f.label :fabricante_id %>
	    <%= f.select :fabricante_id, Fabricante.all.map{|c| [c.nome, c.id]}, {}, {:class=>"form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.label :coleção_id %>
	    <%= f.select :colecao_id, Colecao.all.map{|c| [c.nome, c.id]}, {}, {:class=>"form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.label :ano_da_coleção %>
	    <%= f.text_field :ano_colecao, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :especificações %>
	    <%= f.text_field :especificacoes, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :padronagem_design %>
	    <%= f.select :padronagem_design_ids, PadronagemDesign.all.collect {|x| [x.tipo, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div> 
	  <div class="form-group">
	    <%= f.label :usos_do_tecido %>
	    <%= f.select :uso_tecido_ids, UsoTecido.all.collect {|x| [x.tipo, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :cor_predominante %>
	    <%= f.select :cor_id, Cor.all.map{|c| [c.nome, c.id]}, {}, {:class=>"form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.label :cores_adicionais %>
	    <%= f.select :cor_adicional_ids, CorAdicional.all.collect {|x| [x.nome, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :técnicas_de_design %>
	    <%= f.select :tecnica_design_ids, TecnicaDesign.all.collect {|x| [x.nome, x.id]}, {}, :multiple => true, :class=>"form-control input-sm" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :acabamento %>
	    <%= f.select :acabamento_id, Acabamento.all.map{|c| [c.tipo, c.id]}, {}, {:class=>"form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.label :textura %>
	    <%= f.select :textura_id, Textura.all.map{|c| [c.tipo, c.id]}, {}, {:class=>"form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.label :análise_de_cor %>
	    <%= f.text_field :analise_cor, :class=>"form-control input-sm" %>
	  </div>
  </div>
</div>
</div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary", :value=>"Atualizar" %>
  </div>
<% end %>
