<%= form_for(@bandeira, :url => { :controller => "bandeiras"}) do |f| %>
  <% if @bandeira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bandeira.errors.count, "error") %> prohibited this bandeira from being saved:</h2>

      <ul>
      <% @bandeira.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :suporte_id %>
    <%= f.select :suporte_id, Suporte.all.map{|c| [c.nome, c.id]}, {}, {:class=>"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :localizacao %> *
    <%= f.text_field :localizacao, :class=>"form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :nome_aquisicao %>
    <%= f.text_field :nome_aquisicao, :class=>"form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :data_aquisicao %>
    <%= f.date_field :data_aquisicao, :class=>"form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :fibra_tecido %>
    <%= f.text_field :fibra_tecido, :class=>"form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :codificacao_internacional_tecido %>
    <%= f.text_field :codificacao_internacional_tecido, :class=>"form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :fabricante_id %>
    <%= f.select :fabricante_id, Fabricante.all.map{|c| [c.nome, c.id]}, {}, {:class=>"form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
