<h1>Lista de Bandeiras</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Localização</th>
      <th>Tipo da Aquisição</th>
      <th>Data de Aquisição</th>
      <th>Fabricante</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandeiras.each do |bandeira| %>
      <tr>
        <td><%= bandeira.id %></td>
        <td><%= bandeira.localizacao %></td>
        <td><%= bandeira.tipo_aquisicao %></td>
        <td><%= bandeira.data_aquisicao %></td>
        <td><%= bandeira.fabricante.nome %></td>
        <td><%= link_to 'Mostrar', bandeira_path(bandeira) %></td>
        <td><%= link_to 'Editar', edit_bandeira_path(bandeira) %></td>
        <td><%= link_to 'Excluir', bandeira_path(bandeira), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar bandeira', new_bandeira_path %>
