<h1>Lista de Usos de Tecido</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo de Uso Tecido</th>
    </tr>
  </thead>

  <tbody>
    <% @uso_tecidos.each do |uso_tecido| %>
      <tr>
        <td><%= uso_tecido.tipo %></td>
        <td><%= link_to 'Mostrar', uso_tecido_path(uso_tecido) %></td>
        <td><%= link_to 'Editar', edit_uso_tecido_path(uso_tecido) %></td>
        <td><%= link_to 'Excluir', uso_tecido_path(uso_tecido), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar uso de tecido', new_uso_tecido_path %>
