<h1>Lista de Tamanhos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tamanho</th>
    </tr>
  </thead>

  <tbody>
    <% @tamanhos.each do |tamanho| %>
      <tr>
        <td><%= tamanho.nome %></td>
        <td><%= link_to 'Mostrar', tamanho_path(tamanho) %></td>
        <td><%= link_to 'Editar', edit_tamanho_path(tamanho) %></td>
        <td><%= link_to 'Excluir', tamanho_path(tamanho), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar tamanho', new_tamanho_path %>
