<%= form_for(@materia_prima, :url => { :controller => "materia_primas"}) do |f| %>
  <% if @materia_prima.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materia_prima.errors.count, "error") %> prohibited this materia_prima from being saved:</h2>

      <ul>
      <% @materia_prima.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="id" name="id" value="<%= @materia_prima.try(:id) %>" />

<div style="width:50%">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	  <div class="form-group">
	    <%= f.label :nome %> *
	    <%= f.text_field :nome, :class=>"form-control input-sm" %>
	  </div>
  </div>
</div>
</div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary", :value=>(@materia_prima.id.nil?) ? "Adicionar" : "Atualizar" %>
  </div>
<% end %>
