<h1>Lista de Tipos de Tecnica Design</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo de Tecnica Design</th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_tecnica_designs.each do |tipo_tecnica_design| %>
      <tr>
        <td><%= tipo_tecnica_design.nome %></td>
        <td><%= link_to 'Mostrar', tipo_tecnica_design_path(tipo_tecnica_design) %></td>
        <td><%= link_to 'Editar', edit_tipo_tecnica_design_path(tipo_tecnica_design) %></td>
        <td><%= link_to 'Excluir', tipo_tecnica_design_path(tipo_tecnica_design), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar tipo de matéria prima', new_tipo_tecnica_design_path %>
